In [2]:
import mysql.connector

# Connect to MySQL Server
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="<password>"
)

print("Connected to MySQL")

'''# Create a cursor to execute SQL commands
cursor = connection.cursor()

# Replace 'my_new_db' with your desired database name
cursor.execute("CREATE DATABASE txt2sql")

print("Database 'my_new_db' created successfully!")'''

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

### Downloads dataset from kaggle
- Soon after it downloads pull the files to current folder

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("olistbr/brazilian-ecommerce")
print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/olistbr/brazilian-ecommerce?dataset_version_number=2...

100%|██████████| 42.6M/42.6M [00:06<00:00, 7.37MB/s]

Extracting files...

Path to dataset files: C:\Users\sunde\.cache\kagglehub\datasets\olistbr\brazilian-ecommerce\versions\2

In [ ]:
import pandas as pd
from sqlalchemy import create_engine,  text
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.types import Integer, Float, String

In [ ]:
df = pd.read_csv('olist_customers_dataset.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='customer', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

In [ ]:
df = pd.read_csv('olist_order_items_dataset.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='order_items', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

In [ ]:
df = pd.read_csv('olist_order_payments_dataset.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='order_payments', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

In [ ]:
df = pd.read_csv('olist_order_reviews_dataset.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='order_reviews', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

In [ ]:
df = pd.read_csv('olist_orders_dataset.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='orders', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

In [ ]:
df = pd.read_csv('olist_products_dataset.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='products', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

In [ ]:
df = pd.read_csv('olist_sellers_dataset.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='sellers', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

In [ ]:
df = pd.read_csv('product_category_name_translation.csv')  # Replace with your CSV file path

# Step 2: Set up SQLAlchemy engine with your MySQL credentials
engine = create_engine('mysql+mysqlconnector://root:<password>@localhost/txt2sql')

# Step 3: Write the DataFrame to a new MySQL table
df.to_sql(name='category_translation', con=engine, index=False, if_exists='replace')  # or 'append'

print("Data has been written to the 'my_table' table in the 'txt2sql' database.")

Data has been written to the 'my_table' table in the 'txt2sql' database.

### Indexes
- Create below indexes so that joins are faster

'''CREATE INDEX idx_customer_id ON orders (customer_id(20));

CREATE INDEX idx_order_id ON orders (order_id(20));

ALTER TABLE orders
MODIFY order_purchase_timestamp DATETIME;
CREATE INDEX idx_order_purchase_timestamp ON orders (order_purchase_timestamp);

CREATE INDEX idx_customer_id ON customer (customer_id(20));

CREATE INDEX idx_order_items_order_id ON order_items (order_id(20));
CREATE INDEX idx_order_items_product_id ON order_items (product_id(20));
CREATE INDEX idx_order_items_seller_id ON order_items (seller_id(20));

CREATE INDEX idx_seller_id ON sellers (seller_id(20));

CREATE INDEX idx_product_id ON products (product_id(20));
CREATE INDEX idx_product_category ON products (product_category_name(20));

CREATE INDEX idx_order_reviews_order_id ON order_reviews (order_id(20));
CREATE INDEX idx_review_score ON order_reviews (review_score);

CREATE INDEX idx_order_payments_order_id ON order_payments (order_id(20));
CREATE INDEX idx_payment_type ON order_payments (payment_type(20));

CREATE INDEX idx_category_translation ON category_translation (product_category_name(20));'''